<header>
  <h1>About</h1>
</header>

<main>
  <section>
    <h2>Welcome to my world of web development!</h2>
    <p>
      I'm Muzammil, a passionate and experienced Full Stack MERN Developer, and
      I'm thrilled to have you here. With a strong foundation in a wide range of
      technologies and a love for creating meaningful digital experiences, I'm
      here to transform your web development ideas into reality.
    </p>
  </section>
  <section>
    <h2>What I Bring to the Table:</h2>
    <ul>
      <li>
        <strong>Full Stack Proficiency:</strong> I specialize in the MERN
        (MongoDB, ExpressJS, React, NodeJS) stack, which means I can handle
        everything from the server-side to the client-side, ensuring seamless
        and efficient web applications.
      </li>
      <li>
        <strong>Front-End Expertise:</strong> My front-end skills encompass
        HTML, CSS, and JavaScript, and I'm well-versed in modern UI frameworks
        like React, Bootstrap, Material UI, and Tailwind. I strive to create
        intuitive and visually appealing user interfaces that make a lasting
        impression.
      </li>
      <li>
        <strong>Back-End Wizardry:</strong> On the back-end, I leverage the
        power of Node.js and Express.js to build robust and scalable server
        applications. I'm also skilled in database design and management using
        MongoDB, ensuring your data is secure and well-organized.
      </li>
      <li>
        <strong>EJS and Sass:</strong> I have experience with EJS templates for
        server-side rendering and Sass for enhanced CSS styling. These tools
        allow for dynamic content delivery and maintainable styles.
      </li>
    </ul>
  </section>
</main>
