<header>
  <h1>Contact Us</h1>
</header>
<main>
  <section>
    <h2>Get in Touch</h2>
    <p>
      We'd love to hear from you! Feel free to reach out to us with any
      questions, feedback, or inquiries.
    </p>
    <p><strong>Phone:</strong> +923114383792</p>
    <p>
      <strong>Email:</strong>
      <a href="mailto:Muzammilsindhu2000@gmail.com"
        >Muzammilsindhu2000@gmail.com</a
      >
    </p>
    <p>
      <strong>LinkedIn:</strong>
      <a
        href="https://www.linkedin.com/in/muzammil-sandhu-a8700a207/"
        target="_blank"
        rel="noopener noreferrer"
        >Muzammil Sandhu</a
      >
    </p>
  </section>
</main>
